*{
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style: none;
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
    box-sizing: border-box;
  }
  /* ---------------------------------------------------- */
  header{
    height: 100px;
    width: 100%;
    background-color:  #fff;
    display: flex;
    justify-content: space-between;
  }
  .box1{
    margin-left: 150px;
  }
  .box2{
    display: flex;
    line-height: 100px;
    margin-right: 100px;
    color: gray;
  }
  .heart, .cart{
    margin-right: 30px;
  }
  .drop-down{
    display: none;
    position: absolute;
    width: 160px;
  }
  .drop-down li{
    list-style: none;
    border-bottom: 1px solid white;
  }
  .drop-down a{
    text-decoration: none;
    font-size: 15px;
    z-index: 1;
    display: block;
    padding: 12px 16px;
    color: #ffffff;
  }
  .drop-down a:hover{
    color: red;
    background-color: black;
    display: block;
  }
  .fa-user:hover .drop-down{
    background-color: #18a4dd;
    display: block;
  }
  /* ---------------------------------------------------- */
  nav{
    min-height: 50px;
    width: 100%;
    overflow: hidden;
    background-color: #e94342;
    display: flex;
    justify-content: space-between;
  }
  nav li{
    display: inline-block;
    line-height: 50px;
  }
  nav a{
    font-size: 15px;
    padding: 0 30px;
    line-height: 50px;
    color: #ffffff;
    display: block;
    margin-left: -6px;
  }
  nav a:hover,
  nav a.active{
    transition: 0.5s;
    background-color: #dd2828;
    color: #fff;
  }
  nav .search-container{
    line-height: 45px;
    padding-right: 50px;
  }
  nav input{
    border: none;
    outline: none;
    padding-left: 5px;
    width: 250px;
    height: 30px;
    font-size: 15px;
    border-radius: 5px 0 0 5px;
  }
  nav button{
    width: 35px;
    height: 30px;
    font-size: 15px;
    border: none;
    background-color:#18a4dd ;
    color: #0c0c0c;
    margin-left: -6px;
    border-radius: 0 5px 5px 0;
    cursor: pointer;
  }
  nav .search-container button:hover {
    background: rgb(223, 149, 13);
    transition: 0.5s;
  }
  /* ---------------------------------------------------- */
  .box-layout{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    margin-top: 40px;
  }
  /* ---------------------------------------------------- */
  .box-1{
    flex: 1;
  }
  .box-2{
    flex: 1;
  }
  .link-small{
    height: 40px;
    padding: 0 20px;
    margin-top: 10px;
  }
  .link-small li{
    display: inline-block;
    padding: 0 20px;
    line-height: 40px;
  }
  .link-small a{
    font-size: 15px;
    color: #292929;
  }
  .link-small .active{
    color: #fbbf22;
  }
  .main-menu, .poster img{
    margin-left: 5px;
    margin-right: 5px;
    border: 1px solid gray;
    width: 260px;
  }
  .bar-product{
    height: 45px;
    line-height: 45px;
    background-color: #333333;
    color: #fbbf22;
  }
  .main-menu li{
    border-top: 1px solid gray;
    height: 80px;
  }
  .main-menu a{
    color: #0c0c0c;
    font-size: 14px;
  }
  .main-menu img{
   margin: 20px 0 0 5px;
  }
  .main-menu a:hover{
    color: #fbbf22;
    transition: 0.1s linear;
  }
  .main-menu li a, .bar-product i{
    margin-left: 10px;
  }
  /* ---------------------------------------------------- */
  .box-main{
    flex: 4;
  }
  h1{
    text-align: center;
    border: 1px solid #bbb;
    background-color: #18a4dd;
    height: 40px;
    border-radius: 4px;
    line-height: 40px;
    color: white;
  }
  h1:hover, h3 a:hover{
    color: #fbbf22;
  }
  h3 a{
    color: #0c0c0c;
  }
  .product img{
    width: 55%;
    height: 300px;
    margin-left: 150px;
  }
  .content-new{
    margin-left: 30px;
  }
  .content i{
    margin: 10px 0 10px 0;
    color: #333333;
    font-size: 16px;
  }
  .note{
    margin-bottom: 10px;
  }
  .note span{
    font-size: 14px;
  }
  .note a{
    font-size: 14px;
    font-style: italic;
    text-decoration: underline;
  }
  /* ---------------------------------------------------- */
  footer{
    display: flex;
    position: relative;
    justify-content: space-between;
    background-color: #292929;
  }
  .about{
    margin-left: 20px;
  }
  .partner{
    display: flex;
    flex-direction: column;
  }
  .contact{
    margin-right: 20px;
    display: flex;
    flex-direction: column;
  }
  footer li a{
    color: #ffffff;
    margin-top: 20px;
  }
  footer li a:hover{
    color: #fbbf22;
  }
  h3{
    color: #ffffff;
    margin-top: 20px;
    font-size: 22px;
  }
  .contact .social a span{
    height: 40px;
    width: 40px;
    line-height: 40px;
    text-align: center;
    font-size: 25px;
    background-color: #ffffff;
    border-radius: 6px;
    transition: 0.3s;
  }
  .about li a,
  .link li a{
    font-size: 18px;
  }
  .fa-facebook{color: blue;}
  .fa-instagram{color: orangered;}
  .fa-google-plus{color: #dd1111;}
  .fa-twitter{color: steelblue;}
  /* ----------------------- */
  @media (max-width:900px){
    nav ul{
      display: none;
    }
    nav .search-container{
      margin-left: 100px;
    }
    .mySlides img{
      width: 100%;
      height: 250px;
    }
    .box-layout{
      flex-direction: column;
    }
    .box-1{
      order: 2;
    }
    .box-2{
      order: 3;
    }
    .box-main{
      order: 1;
    }
    /*  */
    footer{
      flex-direction: column;
    }
    .link, .partner, .contact{
      margin-left: 20px;
    }
    .contact{
      margin-bottom: 20px;
    }
    .main-menu{
      width: 95%;
      margin-bottom: 20px;
    }
    .poster img{
      display: none;
    }
    hr{margin-right: 40px;
    }
    canvas{
      display: none;
    }
    header .box1{
      margin-left: 5px;
    }
  }
  